root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contenedor1 {
    background-image: url(/design1_image1.jpg);
    background-repeat: no-repeat;
    background-position-y: 20%;
    height: 500px;
    position: relative;
}

#header {
    padding: 20px;
    color: black;
    text-align: left;
    font-family: cursive;
    font-weight: normal;
    font-size: 3rem;
}

#menu {
    background-color: black;
    height: 60px;
    width: 100%;
    position: absolute;
    top: 440px;
}

h2 {
    color: white;
    font-family: cursive;
    font-weight:900;
    font-size: x-large;
    text-align: center;
    padding: 10px;
}

#logo {
    height: 150px;
    position: absolute;
    top: 390px;
    right: 50px;
}

main{
    width: 100%;
    height: 360px;
    display: flex;
}

#contenedormenu {
    height: 360px;
    width: 20%;
}

.item {
    background-color: rgb(255, 255, 255);
    height: 120px;
    justify-content: center;        
    display:flex;
    align-items: center;
    font-family: cursive;
    color: blue;         
}

.item {
    background-color: rgb(255, 255, 255);
    height: 120px;
    justify-content: center;        
    display:flex;
    align-items: center;
    font-family: cursive;
    color: blue;         
}

.itemActual {
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    height: 120px;
    justify-content: center;        
    display:flex;
    align-items: center;
    font-family: cursive;
    color: black;         
  }

#contenedorSecciones{
    height: 360px;
    width:80%;
    padding-top: 30px;
}

#seccion{
    height: 120px; 
    justify-content: left;        
    align-items: center;
    font-family: cursive;
    color:black;     
    padding: 10px;
}

p {
    text-indent: 20px;
}

h3 {
    color: black;
    font-family: cursive;
    font-weight: lighter;
    font-size: x-large;
    text-align: left;
}
