root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contenedor1 {
    background-repeat: no-repeat;
    background-position-y: 20%;
    height: 500px;
    position: relative;
    display: flex;
}

.contenedorItem{
    position: absolute;
    right: 5px;
    top: 0px;
}

.item {
    background-color:rgb(34, 70, 146);
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 20px;
    justify-content: center;        
    font-family: cursive;
    color:white; 
    border: 2px solid black;
    box-shadow: 3px 3px rgb(74, 73, 73);      
}

.itemActual {
    background-color:rgb(52, 194, 125);
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 20px;
    justify-content: center;        
    font-family: cursive;
    color:white; 
    border: 2px solid black;
    box-shadow: 3px 3px rgb(74, 73, 73);      
}

#headerImagen {
    margin-top: 10px;
    width: 100%;
    background-image: url(/design1_image1.jpg);
    background-repeat: no-repeat;
    background-position-y: 20%;
    height: 490px;
    position: relative;
}

#menu {
    background-color: white;
    height: 60px;
    width: 100%;
    position: absolute;
    top: 440px;
    border: 2px solid black;

}

h2 {
    color: black;
    font-family: cursive;
    font-weight:900;
    font-size: x-large;
    text-align: center;
    padding: 10px;
}

#logo {
    height: 150px;
    position: absolute;
    left:50px;
}

main{
    width: 100%;
    height: 360px;
    display: flex;
}

#contenedormenu {
    height: 360px;
    width: 20%;
}


a:active {
    color: black;
    text-decoration: none;
  }

#contenedorSecciones{
    height: 360px;
    width:80%;
    padding-top: 30px;
}

#seccion{
    height: 120px; 
    justify-content: left;        
    align-items: center;
    font-family: cursive;
    color:black;     
    padding: 10px;
}

p {
    text-indent: 20px;
}

h3 {
    color: black;
    font-family: cursive;
    font-weight: lighter;
    font-size: x-large;
    text-align: left;
}
h1{
    font-family: cursive;
    font-size: 3.5rem;
    font-style: oblique;
}