* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
    min-height: 5vh;
    color: rgb(19, 15, 15);
    display: flex;
    align-items: center;
    padding: 0.5rem;
    padding-left: 1rem;
}

.logo {
    height: 100px;
    width: 100px;
}

header * {
    max-height: 8vh;
}

h1 {
    color: #d4e02d;
    font-size: 2rem;
    font-weight: 100;
    flex-grow: 2;
    text-align: center;
}

header img {
    background-color: black;
    border-radius: 1rem;

}

header img:hover {
    transform: scale(1.2);
}

nav {
    min-height: 5vh;
    background-color: #e6e4e4;
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;

}

.item {
    height: 1.5rem;
    color: rgb(19, 15, 15);
    font-weight: lighter;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: inherit;
    padding: 10px;

}

.item:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 2px black;
}

main {
    min-height: 80vh;
    width: auto;
    max-width: 100%;

}

body {
    background-image: url(/hockey20.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    background-repeat: no-repeat;
    flex-direction: column;


}

body img {
    max-width: 100%;
    height: auto;

}

.contenido {
    background-color: #e6e4e4;
    height: 350px;
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 25vw;
    justify-content: space-around;     
}

h2 {
    height: 8%;
    width: 100%;
    text-align: center;
    padding: 1%;
}

h3 {
    display: flex;
    justify-content:left;
    padding: 5px;
}

p {
    font-size: medium;
    padding: 5px;
    text-align: justify;
}

.parrafo {
    font-size: large;
}

.contenidotabla {
    height: 500px;
    width: 60vw;
    margin-top: 5%;
    margin-left: 20vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-between;
        
}
caption {
    font-size: larger;
    color: black;
    font-weight: 600;
}

table {
    background-color: #e6e4e4;
    height: 30px;
    font-size: 19px;
}

table, th, td {
    padding-top: 5px;
    padding-bottom: 1px;
    text-align: left;
    background-color: #d4e02d;
    color: black;
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 2px;
}

.contenido1 {
    background-color: #e5e4e6;
    width: 60vw;
    margin-left: 20vw;
    margin-top: 2%;
    justify-content: space-between;
    text-align: center;
    

}
.contenido2{
    background-color: #e6e4e4;
    height: 150px;
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
    margin-left: 30vw;
    justify-content: space-around; 
}

.box_list1 {
    background-color: #e6e4e4;
    height: 80px;
    width: 60vw;    
    margin-left: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box_list2 {
    background-color: #e6e4e4;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    text-indent: 4px;
    padding: 3%;
    justify-content:space-between;
}

ul li:nth-child(1){
    list-style-type: none ;
}
ul li:nth-child(2){
    list-style-type: none ;
}

ol {    
    display: flex;
    flex-direction:column;
    text-align: left;     
    padding: 2px;
}

#rules{
    text-align: center;
    font-size: large;
    font-weight: bolder;
}

.fields {
    list-style-type:lower-alpha;    
   

}

footer {
    min-height: 5vh;
    background-color: #e6e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
}